[submodule "ext/imgui"]
	path = ext/imgui
	url = https://github.com/ocornut/imgui
[submodule "ext/imgui_spinner"]
	path = ext/imgui_spinner
	url = https://github.com/dalerank/imspinner
[submodule "ext/imgui_toggle"]
	path = ext/imgui_toggle
	url = https://github.com/cmdwtf/imgui_toggle
[submodule "ext/imgui_sugar"]
	path = ext/imgui_sugar
	url = https://github.com/mnesarco/imgui_sugar
[submodule "inc/3rdparty/cereal"]
	path = inc/3rdparty/cereal
	url = https://github.com/USCiLab/cereal
[submodule "inc/3rdparty/magic_enum"]
	path = inc/3rdparty/magic_enum
	url = https://github.com/Neargye/magic_enum
[submodule "inc/3rdparty/simpleini"]
	path = inc/3rdparty/simpleini
	url = https://github.com/brofield/simpleini
[submodule "inc/3rdparty/sqlite_modern_cpp"]
	path = inc/3rdparty/sqlite_modern_cpp
	url = https://github.com/SqliteModernCpp/sqlite_modern_cpp
